{% extends "base.html" %}

{% block title %}
Scan Detail
{% endblock %}

{% block content %}

<h1>Scan Detail</h1>

<div class="panel">

<div>
<b>Name:</b>
{{ scan['scan_name'] }}
</div>

<div>
<b>Target:</b>
{{ scan['target'] }}
</div>

<div>
<b>IP:</b>
{{ scan['resolved_ip'] }}
</div>

<div>
<b>Ports:</b>
{{ scan['port_range'] }}
</div>

<div>
<b>Open:</b>
{{ scan['total_open_ports'] }}
</div>

<form
method="POST"
action="{{ url_for('scanner.toggle_favorite',scan_id=scan['id']) }}"
>
<div class="button box">
<button type="submit">

{% if scan['is_favorite']==1 %}
 Remove Saved
{% else %}
Save Scan
{% endif %}

</button>
</div>
</form>

</div>

<div class="panel">

<form
method="POST"
action="{{ url_for('scanner.update_notes',scan_id=scan['id']) }}"
>

<textarea
name="notes"
>

{{ scan['notes'] or '' }}

</textarea>

<button type="submit">
Save Notes
</button>

</form>

</div>

<div class="panel">

{% if results %}

<table>

<tr>

<th>Port</th>
<th>Status</th>
<th>Service</th>
<th>Risk</th>

</tr>

{% for row in results %}

<tr>

<td>{{ row['port'] }}</td>
<td>{{ row['status'] }}</td>
<td>{{ row['service'] }}</td>
<td>{{ row['risk'] }}</td>

</tr>

{% endfor %}

</table>

{% endif %}

</div>
<div>
<b>Open:</b>
{{ scan['total_open_ports'] }}
</div>
<hr style="margin:20px 0; border-color:rgba(0,255,159,0.1);">

<div class="result-grid">

    <div class="result-card">
        <span>Country</span>
        <strong>{{ scan['country'] or 'Unknown' }}</strong>
    </div>

    <div class="result-card">
        <span>City</span>
        <strong>{{ scan['city'] or 'Unknown' }}</strong>
    </div>

    <div class="result-card">
        <span>ISP</span>
        <strong>{{ scan['isp'] or 'Unknown' }}</strong>
    </div>

    <div class="result-card">
        <span>Latitude</span>
        <strong>{{ scan['latitude'] or 'Unknown' }}</strong>
    </div>

    <div class="result-card">
        <span>Longitude</span>
        <strong>{{ scan['longitude'] or 'Unknown' }}</strong>
    </div>

</div>
<style>

.result-grid {

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:15px;

    margin-top:20px;

}

.result-card {

    background:rgba(0,0,0,0.45);

    border:1px solid rgba(0,255,159,0.15);

    border-radius:16px;

    padding:16px;

}

.result-card span {

    display:block;

    color:#8fe5c2;

    font-size:12px;

    margin-bottom:8px;

}

.result-card strong {

    color:#00ff9f;

    font-size:18px;

}

</style>

{% endblock %}